@import "../scss/utilities/vars";
@import "../scss/utilities/mixins";

* {
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: rgba(11, 1, 1, 0.459);
  backdrop-filter: blur(2px);
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 1;

  .icons {
    @include flex(row,space-between,center);
    color: $colorBlanco;
    padding: 10px;
    font-size: 1.6em;
    font-family: geforce;
    
    &__toggle {
      @include media-up(688px){
        display: none;
      }
    }
  }

  .main-menu {
    display: none;
    @include media-up(688px){
      @include flex(row,center,center);
      &__li {
        list-style: none;
      }
      &__a {
        text-decoration: none;
        font-family: 'Titillium Web';
        font-size: 0.7em;
        color: $colorBlanco;
        margin: 10px;
        background-image: linear-gradient(black, $colorNaranja);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
      }
      &__a:hover {
        background-size: 100% 2px;
      }
    }
  }
}


.menu {
  @include flex(column,start,center);
  background-color: $backgraund;
  position: fixed;
  width: 100%;
  left: 100%;
  transition: 0.3s;
  height: 100%;
  overflow: auto;
  border-top: 1px solid $colorNaranja;

  &__li {
    list-style: none;
    padding: 15px;
  }
  &__a {
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 1.6em;
    color: $colorBlanco;
  }
}

.nav-menu_visible {
  left: 0;
  height: 100vh;
}