@use "../var/vars"as c;


.grid {
    display: grid;
    grid-template-areas:
        "header"
        "sectionone"
        "sectiontwo"
        "section-2"
        "sectiontree"
        "sectionfour"
        "sectionfive"
        "footer";
}

.slider-mobile {
    margin-top: 53px;
    grid-area: sectionone;
    width: 100%;

    .container-slider-movil {
        width: 100%;
        max-width: 900px;
        margin: auto;
        overflow: hidden;

        .slider {
            display: flex;
            width: 300%;
            height: auto;
            margin-left: -100%;

            .slider__section {
                width: 100%;
                height: auto;

                .slider__img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .slider__btn {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            font-size: 30px;
            font-weight: bold;
            font-family: monospace;
            border-radius: 50%;
            cursor: pointer;
            text-align: center;
        }

        .slider__btn--left {
            left: 10px;
            display: none;
        }

        .slider__btn--right {
            right: 10px;
            display: none;
        }
    }
}

.slider-desk {
    grid-area: sectiontwo;
    height: auto;

    .sliderPc {
        overflow: hidden;

        .sliderPc__figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 30s slidy infinite;

            .sliderPc__img {
                width: 20%;
                float: left;
            }

            @keyframes slidy {
                0% { left: 0%; }
                20% { left: 0%; }
                25% { left: -100%; }
                45% { left: -100%; }
                50% { left: -200%; }
                70% { left: -200%; }
                75% { left: -300%; }
                95% { left: -300%; }
                100% { left: -400%; }
                }
        }

    }
}

.section-2 {
    grid-area: section-2;
    background-color: c.$backgraund;
    height: auto;

    .section-2__img {
        width: 100%;
    }

    .section-2__h1 {
        font-family: 'Aldrich', sans-serif;
        font-size: 25px;
        color: c.$colorBlanco;
        text-align: start;
        margin: 10px 15px 17px;
    }

    .section-2__h2 {
        font-family: 'Aldrich', sans-serif;
        font-style: normal;
        font-size: 25px;
        color: c.$colorNaranja;
        text-align: start;
        margin: 5px 15px;
        font-weight: normal;
    }

    .section-2__p {
        color: c.$colorBlanco;
        font-family: 'Titillium Web';
        text-align: left;
        margin: 5px 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .section-2__btn {
        padding: 10px;
        border: none;
        background-color: c.$colorNaranja;
        margin: 10px auto;
        display: block;
        -webkit-clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);


        .section-2__a {
            text-decoration: none;
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: c.$colorBlanco;
        }
    }
}

.section-3 {
    grid-area: sectiontree;
    background-image: url("../img/gfe-home-0768x440-p@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;

    .section-3__h1 {
        font-family: 'Aldrich', sans-serif;
        font-style: normal;
        font-size: 25px;
        color: c.$colorNaranja;
        text-align: start;
        margin: 5px 15px;
        font-weight: normal;
    }

    .section-3__p {
        color: c.$colorBlanco;
        font-family: 'Titillium Web';
        text-align: left;
        margin: 5px 15px;
        font-weight: normal;
        line-height: 20px;
    }

    .section-3__btn {
        padding: 10px;
        border: none;
        background-color: c.$colorNaranja;
        margin: 10px auto;
        display: block;
        -webkit-clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);


        .section-3__a {
            text-decoration: none;
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: c.$colorBlanco;
        }
    }

    .section-3__col-1 {
        display: none;
    }
}

.section-4 {
    grid-area: sectionfour;
    background-color: c.$backgraund;
    height: auto;

    .section-4__img-mobile {
        width: 100%;
    }

    .section-4__h1 {
        font-family: 'Aldrich', sans-serif;
        font-style: normal;
        font-size: 25px;
        color: c.$colorNaranja;
        text-align: start;
        margin: 5px 15px;
        font-weight: normal;
    }

    .section-4__p {
        color: c.$colorBlanco;
        font-family: 'Titillium Web';
        text-align: left;
        margin: 5px 15px;
        font-weight: normal;
        line-height: 20px;

        .section-4__span {
            color: c.$colorNaranja;
        }
    }
}

.section-5 {
    grid-area: sectionfive;
    background-color: c.$backgraund;
    height: auto;

    .section-5__img-mobile {
        width: 100%;
    }

    .section-5__h1 {
        font-family: 'Aldrich', sans-serif;
        font-style: normal;
        font-size: 25px;
        color: c.$colorBlanco;
        text-align: start;
        margin: 5px 15px;
        font-weight: normal;
    }

    .section-5__p {
        color: c.$colorBlanco;
        font-family: 'Titillium Web';
        text-align: left;
        margin: 10px 15px;
        font-weight: normal;
        line-height: 20px;
    }
    .section-5__btn {
        padding: 10px;
        border: none;
        background-color: c.$colorNaranja;
        margin: 10px auto;
        display: block;
        -webkit-clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);


        .section-5__a {
            text-decoration: none;
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: c.$colorBlanco;
        }
    }
}

@media screen and (min-width: 360px) {}

@media screen and (min-width: 480px) {
    .slider-mobile {
        .container-slider-movil {
            .slider {
                .slider__section {
                    .slider__img {
                        display: block;
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 688px) {
    .slider-desk {
        display: none;
    }
}
@media screen and (min-width: 688px) {
    .slider-mobile {
        display: none;
    }

    .section-2 {
        display: grid;
        grid-template-columns: 55% 45%;
        padding: 10px;
        align-items: center;

        .section-2__col-1 {
            .section-2__h2 {
                font-size: 25px;
            }
            .section-2__btn {
                margin-left: 15px;
            }
        }

        .section-2__col-2 {
            align-self: center;
        }
    }

    .section-3 {
        height: auto;
        background-image: none;
        background-color: c.$backgraund;
        display: grid;
        grid-template-columns: 45% 55%;
        padding: 10px;
        align-items: center;

        .section-3__col-1 {
            display: grid;
            align-self: center;

            .section-3__col-1-img {
                width: 100%;
            }
        }

        .section-3__col-2 {
            height: auto;

            .section-3__btn {
                margin-left: 15px;
            }
        }
    }

    .section-4{
        display: grid;
        grid-template-columns: 55% 45%;
        padding: 10px;
        align-items: center;
   
        .section-4__col-2{
            align-self: center;
        }
    }

    .section-5{
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto auto ;
        padding: 10px;
        align-items: center;
        .section-5__col-1{
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        .section-5__col-2{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            padding: 10px;
        }
        .section-5__col-3{
            grid-column: 2 / 3;
            grid-row: 2 / 3; 
            .section-5__btn{
                margin-left: 15px;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .slider-mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .section-2 {
        padding-top: 30px;
        grid-template-columns: 45% 45%;
        justify-content: center;
        .section-2__col-1{
            .section-2__btn{
                margin-top: 20px;
            }
        }
    }
    .section-3{
        grid-template-columns: 45% 45%;
        justify-content: center;

        .section-3__col-2{
            .section-3__btn{
                margin-top: 20px;
            }
        }
    }
    .section-4{
        grid-template-columns: 45% 45%;
        justify-content: center;
    }
    .section-5{
        grid-template-columns: 45% 45%;
        justify-content: center;
        .section-5__col-3{
            .section-5__btn{
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 1280px){
    .section-2 {
        grid-template-columns: 40% 40%;     
    }
    .section-3{
        grid-template-columns: 40% 40%;
    }
    .section-4{
        grid-template-columns: 40% 40%;
    }
    .section-5{
        grid-template-columns: 40% 40%;
    }
}

@media screen and (min-width: 1360px){
    .section-2 {
        grid-template-columns: 35% 35%;     
    }
    .section-3{
        grid-template-columns: 35% 35%;
    }
    .section-4{
        grid-template-columns: 35% 35%;
    }
    .section-5{
        grid-template-columns: 35% 35%;
    }
}