@import "../scss/utilities/vars";
@import "../scss/utilities/mixins";
@import "../scss/utilities/breakpoints";

/* Containers */

/* Texts */
.tittle-h1{font-family: 'Aldrich', sans-serif; font-style: normal; font-size: 1.6em;color: $colorNaranja; text-align: start; margin: 10px 15px; font-weight: normal;}
.tittle-h2{font-family: 'Aldrich', sans-serif; font-style: normal; font-size: 1.4em;color: $colorBlanco; text-align: start; margin: 10px 15px; font-weight: normal;}
.text-p{font-size: 1.0em; color: $colorBlanco; font-family: 'Titillium Web'; text-align: left; margin: 5px 15px; font-weight: normal; line-height: 20px;}
.text-center{text-align: center;}


/* Medidas */
.wh-100{width: 100%;}
.wh-80{width: 80%;}
.wh-50{width: 50%;}
.wh-30{width: 30%;}
.wh-20{width: 20%;}
.wh-15{width: 15%;}
.wh-10{width: 10%;}

.ht-100{height: 100%;}
.ht-80{height: 80%;}
.ht-50{height: 50%;}

.pad-10{padding: 10px;}
.pad-15{padding: 15px;}
.pad-20{padding: 20px;}
.pad-10-h{padding: 10px 0px 10px 0px;}

.mar-0{margin: 0px;}
.mar-10{margin: 10px;}
.mar-15{margin: 15px;}
.mar-20{margin: 20px;}

.mar-top-54{margin-top: 54px;}

.m-left-10{margin-left: 10px;}
.m-left-15{margin-left: 15px;}
.m-left-20{margin-left: 20px;}

.m-right-10{margin-right: 10px;}
.m-right-15{margin-right: 15px;}
.m-right-20{margin-right: 20px;}

/* Fonts*/
.f-size-1{font-size: 1em;}
.f-size-2{font-size: 1.5em;}


.f-aorus{font-family: aorus;}
.f-geforce{font-family: geforce;}
.f-ddnpro{font-family: ddnpro;}
.f-titillium{font-family: Titillium Web}
.f-aldrich{font-family: Aldrich}

/* Others */
.c-blanco{color: $colorBlanco;}
.c-naranja{color: $colorNaranja;}
.c-black{color: $backgraund;}
.c-rojo{color: $colorRojo;}
.c-verde{color: $colorVerde;}
.c-gris{color: $colorGris;}
.c-aqua{color: $colorAqua;}


.banner{object-fit: cover; position: relative; width: 100%; height: 100vh; max-width: 100%; max-height: 100%;}

