@import "../utilities/vars";
@import "../utilities/mixins";

.slider-mobile-products {
    @include media-up(769px) {
        display: none;
    }

    &__col1 {
        width: 100%;
    }

    &__col2 {
        @include flex(column, center, center);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.slider-products {
    @include media-dw(769px) {
        display: none;
    }

    @include media-up(769px) {
        display: flex;
    }

    .slider-products__col2 {
        @include media-up(769px) {
            @include flex(column, center, center);
            position: absolute;
            top: 40%;
            left: 60%;
        }
    }
}

.products-section-1 {
    @include flex(column, center, center);

    @include media-up(688px) {
        @include container(1400px);
        @include grid(32% 32% 32%, auto, space-around, stretch);

        &__col-1 {
            grid-column: 1 / 4;
        }

        &__col-2 {
            grid-template-columns: 1 / 2;
        }

        &__col-3 {
            grid-template-columns: 2 / 3;
        }

        &__col-4 {
            grid-template-columns: 3 / 4;
        }
    }
}

.products-section-2 {
    @include flex(column, center, center);
    background-image: url("/img/productos/backgraundproducts.jpg");
    background-attachment: fixed;
    background-size: cover;

    .productos {
        @include container(400px);

        @include media-up(688px) {
            @include container(1400px);
            @include grid(30% 30% 30%, auto, center, center);
        }
    }
}

.products-section-3 {
    @include container(500px);
    @include flex(column, center, center);

    @include media-up(688px) {
        @include container(1400px);
        @include grid(30% 30% 30%, auto, center, stretch);

        &__col-1 {
            grid-column: 1 / 4;
        }
    }
}


.products-section-4 {
    @include container(550px);
    @include flex(column, center, center);

    .monitor-icons {
        @include flex(row, center, center);
    }

    @include media-up(688px) {
        @include container(1400px);
        @include grid(30% 30% 30%, auto, space-around, stretch);

        &__col-1 {
            grid-column: 1 / 4;
        }

    }
}

.headline {
    .lineA {
        width: 120px;
        height: 5px;
        bottom: -5px;
        left: 50%;
        position: absolute;
    }

    .lineB {
        width: 120px;
        height: 5px;
        bottom: -15px;
        right: 50%;
        position: absolute;
    }
}