@use "../../var/vars"as c;
.scroll-none{
    overflow-x: hidden;
}
.slider-mobile-tecno{
    display: flex;
    justify-content: center;
    .slider-mobile-tecno__col1{
        width: 100%;
    }
    .slider-mobile-tecno__col2{
        position: absolute;
        top: 60%; 
    }
}

@media  screen and (min-width: 688px) {

}

@media  screen and (max-width: 768px) {
    .slider-tecno{
        display: none;
    } 
}   

@media screen and (min-width: 769px) {
    .slider-mobile-tecno{
        display: none;
    }
    .slider-tecno{
        display: flex;
        .slider-tecno__col2{
          position: absolute;
          align-self: center;
          margin-left: 60%;
        }
    }
}
  
@media screen and (min-width: 992px) {
    .container--tecno-section2{
        display: flex;
        .container--tecno-section2__col1{
            width: 50%;
            
        }
        .container--tecno-section2__col2{
            width: 50%;
        }
    }
    .container--tecno-section3{
        display: flex;
        flex-direction: row-reverse;
        .container--tecno-section3__col1{
            width: 50%;
            
        }
        .container--tecno-section3__col2{
            width: 50%;
        }
    }
    .container--tecno-section4{
        display: flex;
        .container--tecno-section4__col1{
            width: 50%;
            
        }
        .container--tecno-section4__col2{
            width: 50%;
        }
    }
    .container--tecno-section5{
        display: flex;
        flex-direction: row-reverse;
        .container--tecno-section5__col1{
            width: 50%;
            
        }
        .container--tecno-section5__col2{
            width: 50%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .slider-tecno{
        display: flex;
        .slider-tecno__col2{
          position: absolute;
          align-self: center;
          margin-left: 65%;
        }
    }

}