@import "../utilities/vars";
@import "../utilities/mixins";

.slider-tecno {
    @include media-dw(769px) {
        display: none;
    }

    @include media-up(769px) {
        display: flex;

        .slider-tecno__col2 {
            position: absolute;
            align-self: center;
            margin-left: 60%;
        }
    }
}

.slider-mobile-tecno {
    @include media-up(769px) {
        display: none;
    }

    &__col-1 {
        width: 100%;
    }

    &__col-2 {
        @include flex(column, center, center);
        position: absolute;
        top: 55%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.tecno-section-1 {
    @include media-up(992px) {
        @include container(1100px);
    }
}

.tecno-section-2 {
    @include container(500px);

    @include media-up(992px) {
        @include container(1100px);
        @include flex(row, center, center);

        &__col-1 {
            width: 50%;
        }

        &__col-2 {
            width: 50%;
        }
    }
}

.tecno-section-3 {
    @include container(500px);

    @include media-up(992px) {
        @include container(1100px);
        @include flex(row-reverse, center, center);

        &__col-1 {
            width: 50%;
        }

        &__col-2 {
            width: 50%;
        }
    }
}

.tecno-section-4 {
    @include container(500px);

    @include media-up(992px) {
        @include container(1100px);
        @include flex(row, center, center);

        &__col-1 {
            width: 50%;
        }

        &__col-2 {
            width: 50%;
        }
    }
}

.tecno-section-5 {
    @include container(500px);

    @include media-up(992px) {
        @include container(1100px);
        @include flex(row-reverse, center, center);

        &__col-1 {
            width: 50%;
        }

        &__col-2 {
            width: 50%;
        }
    }
}